.feature__list .title,
.team__list .title,
.clients .title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17px;
  text-align: center;
  @include desktop {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
