.feature__list {
  display: flex;
  justify-content: center;
}
.feature__list .item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.feature__thumb {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.feature__text {
  position: absolute;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding-left: 107px;
  bottom: 27px;
  z-index: 1;
}
